DMDW LAB 4

In [ ]:
#TASK 1
import numpy as np
import scipy.stats
from scipy import stats
a=np.array([30,36,47,50,52,52,56,60,63,70,70,110])
print(np.mean(a))
print(np.median(a))
print(stats.mode(a))

58.0
54.0
ModeResult(mode=np.int64(52), count=np.int64(2))

In [5]:
#TASK 2
b=np.array([5, 8, 3, 4, 7, 12, 5, 2])
c=max(b)
d=min(b)
print("range: ",c-d)
print(np.var(b))
print(np.std(b))
q1=np.percentile(b,25)
q3=np.percentile(b,75)
print("IQR= ",q3-q1)

range:  10
8.9375
2.9895651857753496
IQR=  3.5

In [6]:
import pandas as pd
df=pd.read_csv("play_tennis.csv")
df

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [7]:
df.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [8]:
df.tail()

    day   outlook  temp humidity    wind play
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [9]:
df.shape

(14, 6)

In [10]:
df.size

84

In [11]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   day       14 non-null     str
 1   outlook   14 non-null     str
 2   temp      14 non-null     str
 3   humidity  14 non-null     str
 4   wind      14 non-null     str
 5   play      14 non-null     str
dtypes: str(6)
memory usage: 804.0 bytes

In [13]:
df.describe()

       day outlook  temp humidity  wind play
count   14      14    14       14    14   14
unique  14       3     3        2     2    2
top     D1   Sunny  Mild     High  Weak  Yes
freq     1       5     6        7     8    9